* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #EBEBEB;

}
body, p, h1, h2, ul, ol {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#header {
	background-color: #242424;
	
}
#menu {
	
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	
}
#menu a {
	color: white;
	font-size: 20px;
	padding: 15px;
	text-decoration: none;
}

#menu a.active,
#menu a:hover {
	background-color: #585858;
}


.wrapper {
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-color: white;
}

#left {
	width: 300px;
	padding: 20px ;
	text-align: justify;
	box-sizing: border-box;
}

#left p,
#left h2 {
	margin-bottom: 10px;
	
}
#left h2,
#right h2 {
	font-size: 17px;
}
#left p,
#right p,
#right li {
	font-size: 13px;
}

#main {
	width: 500px;
	text-align: justify;
	padding: 20px 0 ;
	box-sizing: border-box;
}

#main h1 {
	font-size: 21px;
}
#main h2 {
	font-size: 20px;
	margin: 20px 0;
}
#main p {
	font-size: 13px;
	margin: 10px 0;
}




#main img,
#right img {
	width: 100%;
	
}
#right img {
	margin-bottom: 10px;
}
#right {
	width: 300px;
	box-sizing: border-box;
	padding: 20px ;
	text-align: justify;
}

#right h2,
#right p {
	margin-bottom: 10px;
}
#right ol {
	list-style-type: none;
	padding-bottom: 10px;
}

#right li {
	padding-bottom: 10px;
}

#footer {
	
	background-color: #242424;
	text-align: center;
}

.info {
	width: 1100px;
	padding-top: 30px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	
}
.container {
	width: 250px;
	min-height: 200px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	background-color: #EBEBEB;
}
.container h2 {
	font-size: 17px;
	margin: 15px 0 10px 0;
}
.container p {
	font-size: 13px;

}
.container hr {
	width: 250px;
}
.copyright {
	line-height: 50px;
	text-align: center;
	color: white;
}

